.draggable {
	cursor:default;
}
.pdObject {
	position:fixed;
	width: 75px;
	height:15px;
	padding-top: 2px;
	padding-left: 4px;
	background-color: #eeeeee;
	border: 1px solid #000;
	font-family: Arial;
	font-size: 12px;
	cursor:default;
}
.pdMessage {
	background-color: #dddddd;
	cursor: pointer;
}
/* iolets default to control (unfilled) */
.iolet {
	position: absolute;
	z-index: 100;
	width:10px;
	height:2px;
	background-color: #eeeeee;
	border: 1px solid #000;
}
.inlet {
	top:-2px;
}
.outlet {
	bottom:-2px;
	cursor:pointer;
}
.filled {
	/* for signal iolets */
	background-color: #999999;
}
.line {
	position: absolute;
/*	width: 200px;*/
	height: 2px;
 	border: 0px;
 	background-color: #222;
 	cursor: default;	/* changed dynamically */
}
.objDelete {
	font-size: 8px;
	display: none;
	right: 5px;
	top: 2px;
	position: absolute;
	cursor: pointer;
}
.highlightBox {
	padding: 8px;
	font-size: 14px;
	background: #70273A;
}
.customInput {
	border: 1px solid #AAA;
	padding: 3px;
	color: #111;
}
.helpButton {
	width: 127px;
	font-size: 11px;
	margin-top: 2px;
}
.specialObject {
	background: #333;
	color: #eee;
}
#traceBox {
	position:		fixed;
	top:			5px;
	right:			5px;
	text-align:		right;
	font-family: 	Arial;
	font-size: 		smaller;
}
#disconnectCB {
	
}
#infoBox {
	/*font-size: 12px;*/
}
.infoBox {
	font-size: 12px;
}
#infoline {
	font-family: Arial, Helvetica, sans-serif;
	font-variant: small-caps;
	font-size: 11px;
	text-align: center;
}
#infoContainer {
/*	position: absolute;*/
/*	bottom: 8px;*/
}
#toolsContainer {
	position: fixed;
	top: 8px;
	right: 8px;
	width: 127px;
}
